<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".FeedbackForm" />
        <activity android:name=".Search" />
        <activity android:name=".AllAds" />
        <activity android:name=".AllFind" />
        <activity
            android:name=".MessagePanel"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MessageList"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".AdDetail" />
        <activity android:name=".Profile" />
        <activity android:name=".CategoryMembers" />
        <activity
            android:name=".FindDetail"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FindPostForm"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdPostForm"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FindPosterRegistration"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AdPosterRegistration"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".PhoneNumberVerification" />
        <activity android:name=".CategoryList" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/splashTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>